[submodule "static/live2d-widget"]
	path = static/live2d-widget
	url = https://github.com/peng-1998/live2d-widget.git
[submodule "static/live2d_api"]
	path = static/live2d_api
	url = https://github.com/peng-1998/live2d_api.git
