[submodule "tools/jsonwebtoken"]
	path = tools/jsonwebtoken
	url = https://github.com/juangburgos/QJsonWebToken
[submodule "tools/bcrypt"]
	path = tools/bcrypt
	url = https://github.com/peng-1998/qt-bcrypt
